In [1]:

from ghcnd.utils import *

In [2]:
ghcnd = GHCND()

stations = pd.read_parquet(ghcnd.datalake_root / 'clean' / 'stations.parquet')
weather_dataset = ds.dataset(ghcnd.datalake_root / 'curated' / 'combined')

# Print the data schema: each line defines a column
print(weather_dataset.schema)

C:\Users\dhruv\capstone-data
station_id: string
year: int32
month: int32
day: int32
PRCP: double
SNOW: double
SNWD: double
TMAX: double
TMIN: double
AWND: double

In [3]:
us_stations = stations[stations['station_id'].str[:2] == 'US']
ca_stations = stations[stations['station_id'].str[:2] == 'CA']
mx_stations = stations[stations['station_id'].str[:2] == 'MX']
stations = pd.concat([us_stations, ca_stations, mx_stations])
stations.sample(10)

         station_id  latitude  longitude  elevation                      name
78448   US1MTCB0001   45.4431  -109.1848     1285.3  ROBERTS 5.9 NNW (CLOSED)
32172   CA1NS000011   44.7029   -63.5329       77.4         DARTMOUTH 5.1 NNE
69745   US1INSJ0032   41.6577   -86.5262      251.8      NEW CARLISLE 3.3 SSW
41883   MXN00005158   26.6167  -101.3000      919.9               EL TANQUITO
121520  USC00448331   37.9167   -76.8667        7.6              TAPPAHANNOCK
114246  USC00303182   42.8833   -77.0167      189.0                GENEVA SCS
72984   US1MAMD0104   42.5717   -71.4991       73.2         LITTLETON 2.8 NNW
64086   US1FLOR0085   28.5773   -81.1196       24.7             BITHLO 0.8 NW
70602   US1KSGY0010   37.8157  -100.3444      832.1            CIMARRON 0.5 N
26422   CA003034489   49.6333  -110.3167     1402.0         MEDICINE LODGE LO

In [4]:
filter = (pc.field('year') >= 2000) & (pc.field('year') <= 2025)

weather = weather_dataset.filter(filter).to_table().to_pandas()

In [6]:
weather.memory_usage().sum()/10**9

np.float64(19.25084508)

In [7]:
weather.head(20)

     station_id  year  month  day  PRCP  SNOW    SNWD   TMAX   TMIN  AWND
0   CA004077557  2000      1   17  10.0  10.0   310.0 -135.0 -205.0   NaN
1   CA004078084  2000      1   17   0.0   0.0   330.0 -160.0 -200.0   NaN
2   CA004083323  2000      1   17   0.0   0.0   310.0 -140.0 -195.0   NaN
3   CA004085052  2000      1   17   0.0   0.0   290.0 -155.0 -185.0   NaN
4   CA004086000  2000      1   17  20.0  20.0   370.0 -130.0 -195.0   NaN
5   CA004086001  2000      1   17   6.0   6.0   280.0  -80.0 -160.0   NaN
6   CA002502501  2000      1   17   0.0   0.0   110.0 -263.0 -323.0   NaN
7   CA002503650  2000      1   17   0.0   0.0   110.0 -320.0 -345.0   NaN
8   CA003010830  2000      1   17   2.0   2.0   140.0 -135.0 -210.0   NaN
9   CA003010890  2000      1   17   0.0   0.0   300.0 -170.0 -200.0   NaN
10  CA006140954  2000      1   17   0.0   0.0    80.0 -120.0 -195.0   NaN
11  CA006141933  2000      1   17   0.0   0.0    70.0 -140.0 -200.0   NaN
12  CA003013961  2000      1   17  14.0  18.0   120.0 -173.0 -203.0   NaN
13  CA003014995  2000      1   17   0.0   0.0   180.0 -170.0 -210.0   NaN
14  CA003015405  2000      1   17   2.0   2.0   120.0 -180.0 -210.0   NaN
15  CA003015524  2000      1   17   0.0   0.0   170.0 -151.0 -213.0   NaN
16  CA00240KFQJ  2000      1   17   0.0   0.0  1130.0 -260.0 -350.0   NaN
17  CA003017286  2000      1   17   0.0   0.0   150.0 -145.0 -200.0   NaN
18  CA00301C3D4  2000      1   17   0.0   0.0   130.0 -120.0 -190.0   NaN
19  CA00301N49A  2000      1   17   0.0   0.0   200.0 -170.0 -210.0   NaN

In [8]:
weather.tail(20)

            station_id  year  month  day   PRCP  SNOW  SNWD  TMAX  TMIN  AWND
283100641  US1WIMT0029  2025      1   25    3.0   NaN   NaN   NaN   NaN   NaN
283100642  US1WIEC0016  2025      1   25    0.0   NaN   NaN   NaN   NaN   NaN
283100643  US1WIEC0041  2025      1   25    0.0   NaN   NaN   NaN   NaN   NaN
283100644  US1CASD0047  2025      1   25  117.0   NaN   NaN   NaN   NaN   NaN
283100645  US1WIDA0162  2025      1   25    0.0   NaN   NaN   NaN   NaN   NaN
283100646  US1WIDD0017  2025      1   25    0.0   NaN   NaN   NaN   NaN   NaN
283100647  US1WIDD0030  2025      1   25    0.0   NaN   NaN   NaN   NaN   NaN
283100648  US1WIDR0027  2025      1   25    3.0   NaN   NaN   NaN   NaN   NaN
283100649  US1WIBN0031  2025      1   25    0.0   NaN   NaN   NaN   NaN   NaN
283100650  US1WIBN0039  2025      1   25    0.0   NaN   NaN   NaN   NaN   NaN
283100651  US1WIBN0044  2025      1   25    0.0   NaN   NaN   NaN   NaN   NaN
283100652  US1WIBR0018  2025      1   25    3.0   NaN   NaN   NaN   NaN   NaN
283100653  US1WIBR0031  2025      1   25    3.0   NaN   NaN   NaN   NaN   NaN
283100654  US1WIBY0026  2025      1   25    5.0   NaN   NaN   NaN   NaN   NaN
283100655  US1CASM0022  2025      1   25    0.0   NaN   NaN   NaN   NaN   NaN
283100656  US1CASN0049  2025      1   25    5.0   NaN   NaN   NaN   NaN   NaN
283100657  US1WAWC0090  2025      1   25    0.0   NaN   NaN   NaN   NaN   NaN
283100658  US1WIAD0005  2025      1   25    0.0   NaN   NaN   NaN   NaN   NaN
283100659  US1WIAS0011  2025      1   25    5.0   NaN   NaN   NaN   NaN   NaN
283100660  US1WAPR0075  2025      1   25    3.0   NaN   NaN   NaN   NaN   NaN